Team Slug,Team Name,Role,Player Name,Display Name,Pronounce,Discord,Riot Tag
MeC,Meiji esports Club,Leader,VespeR,MeC VespeR,ヴェスパー,vesper0502,VespeR#fvv
MeC,Meiji esports Club,Coach,まとろ,MeC まとろ,マトロ,matoronanora,Matoro#JP3
MeC,Meiji esports Club,Player,ようすけ,MeC ようすけ,ヨウスケ,uochanxd,ようすけちゃぁん#ttv
MeC,Meiji esports Club,Player,禀,MeC 禀,リン,ryntumn,NSR 禀#seng
MeC,Meiji esports Club,Player,mira,MeC mira,ミラ,miraa_7777,ブリ美#TTV
MeC,Meiji esports Club,Player,sora,MeC sora,ソラ,sora_sky,天空海闊#sky
MeC,Meiji esports Club,Player,ふぅ,MEC ふぅ,フゥ,fu6690,ふぅ#ついっち
NUE,日大ペンギンズ,Leader,Ko8su,NUE Ko8su,コヤス,ko8su,Ko8su#かいちょー
NUE,日大ペンギンズ,Player,cL0wN,NUE cL0wN,クラウン,cl0wnnn,ASR cL0wNdayo#NIA
NUE,日大ペンギンズ,Player,ikuraH,NUE ikuraH,イクラエイチ,ikurah5207,ikuraH#62803
NUE,日大ペンギンズ,Player,amb1tious,NUE amb1tious,あんびしゃす,amb1tious,ASR あんびザウルス#NIA
NUE,日大ペンギンズ,Player,Gent,NUE Gent,じぇんと,gentlazyboi,Gent#7942
DBeC,DBesports,Leader,fuu,DBeC fuu,フウ,fuu7439,quinnie#rose
DBeC,DBesports,Coach,kingyobati,DBeC kingyobati,ギョバチ,kingyobatiii,うずら三等兵#にたまご
DBeC,DBesports,Player,HRcK,DBeC HRcK,エイチアールシーケー,hrck,HRcK#4462
DBeC,DBesports,Player,petegon,DBeC petegon,ペテゴン,petegon,petegon#1685
DBeC,DBesports,Player,erica,DBeC erica,エリカ,erica4979,Kaiser#カイザー2
DBeC,DBesports,Player,むんぎ,DBeC むんぎ,ムンギ,mugi9297,むんぎ#6180
DBeC,DBesports,Player,okapi,DBeC okapi,オカピ,.okap_,okapidayooooo#3473
DBeC,DBesports,Player,shun,DBeC shun,シュン,shun02627,처음 뵙겠습니다#또 봐요
TTZ,TitanZz,Leader,アグネスチャンチャン湖,TTZ アグネスチャンチャン湖,アグネスチャンチャンコ,9r0,アグネスチャンチャン湖#play
TTZ,TitanZz,Player,jakkarun,TTZ jakkarun,ジャッカルン,jakkarun,jakkarun #takej
TTZ,TitanZz,Coach,Tomita,TTZ Tomita,トミタ,guatsukie,Gua #nine
TTZ,TitanZz,Player,tekk,TTZ tekk,テック,tekk0314,tekk#7761
TTZ,TitanZz,Player,JuJu,TTZ JuJu,ジュジュ,jujukundazo,JuJu #Kun
TTZ,TitanZz,Player,Rei,TTZ Rei,レイ,reidragon,修羅修羅修羅ウドステップ #修羅修羅
TTZ,TitanZz,Player,Nekoft,TTZ Nekoft,ネコフー,nekoft,Nekoft#Kayo
TTZ,TitanZz,Player,setsuna,TTZ setsuna,セツナ,setsunna,sets#pc